
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #464646;
    filter: blur(5);
    overflow-x: hidden;
  }
/*ESTILOS DE TEXTO*/

/*BACKOGROUND*/
.container {
    
    margin-top: 0px;
    position: fixed;
    display: flex;
    z-index: -3;
    width: 100%;
    height: 100%;
    background: radial-gradient(
          circle farthest-side at 0% 50%,
          #282828 23.5%,
          rgba(255, 170, 0, 0) 0
        )
        21px 30px,
      radial-gradient(
          circle farthest-side at 0% 50%,
          #2c3539 24%,
          rgba(240, 166, 17, 0) 0
        )
        19px 30px,
      linear-gradient(
          #282828 14%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 85%,
          #282828 0
        )
        0 0,
      linear-gradient(
          150deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(
          30deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
        #282828;
    background-size: 40px 60px;
  }
  
.todo_contenido{
    width: 100%;
    height: 100%;
    
    position: absolute;

}

  /* Barra de navegación */
  .barra {
    width: 100%;
    height: 8%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.781);
  }
  
    /*cabeza*/
    /* From Uiverse.io by Ali-Tahmazi99 */ 
  input[type = "checkbox"] {
      -webkit-appearance: none;
      display: none;
      visibility: hidden;
      
    }
    
    .bar {
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 40px;
      margin-left:95%;
      display: flex;
      position: fixed;
      margin-top: 10px;
      
    }
    
    .bar span {
      position: absolute;
      width: 45px;
      height: 7px;
      background: #f1faee;
      border-radius: 100px;
      display: inline-block;
      transition: 0.3s ease;
      left: 0;
    }
    
    .bar span.top {
      top: 0;
    }
    
    .bar span.middle {
      top: 17px;
    }
    
    .bar span.bottom {
      bottom: 0;
    }
    
    input[type]:checked ~ span.top {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 48px;
      left: 5px;
    }
    
    input[type]:checked ~ span.bottom {
      transform: rotate(-45deg);
      transform-origin: top left;
      width: 48px;
      bottom: -1px;
      box-shadow: 0 0 10px #495057;
    }
    
    input[type]:checked ~ span.middle {
      transform: translateX(-20px);
      opacity: 0;
    }
  
  
  
  
    .perfil {
      position: fixed;
      margin-top: 5px;
      margin-left: 85%;
      width: 45px;  /* Tamaño del círculo */
      height: 45px; 
      border-radius: 50%;  /* Hace que sea un círculo */
      overflow: hidden;  /* Evita que la imagen se salga */
      border: 3px solid white;  /* Borde elegante */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
  }
  
  .perfil img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta la imagen sin deformarla */
  }
  
  
  
  .calendar {
    margin-left: 90%;
    width: 50px;
    height: 50px;
    fill: #ffffff; /* Color del icono */
    position: fixed;
    margin-top: 5px;
    }
   
/*logo*/
/* Cuadros */
.cuadro {
    position: fixed;
    margin-top: 5px;
    margin-left: 20px;
      width: 50px;
      height: 50px;
      
  }
  /* Imágenes dentro de los cuadros */
  .cuadro img {
      width: 160%;
      height: 100%;
  }
  


  /*BUSCADOR*/
  .search {
    margin-top: 12px;
    position: fixed;
    z-index: 2;
    margin-left: 150px;
    
  }
  
  .search input[type="text"] {
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.719);
  }
  
  .search button[type="submit"] {
    background-color: #00aeff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.527);
    background-color: rgb(255, 0, 0);
  }
/*ANTENAS*/
.antenas{
    overflow-y: auto;
    width: 100%;
    height: auto;
    margin-top: 90px;
    position: absolute;
    box-sizing: border-box;
}
.card {
    position: relative;
    margin-left: 25px;
    padding: 10px;
    width: 200px;
    height: 400px;
    min-height: 330px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  }
  
  .card:hover {
    translate: 0 -10px;
  }
  
  .card-title {
    font-size: 15px;
    font-weight: 600;
    color: #b2eccf;
    margin: 5px 0 0 5px;
  }
  .card-image img {
    width: 100%;
    border-radius: 10px;
    min-height: 170px;
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
  }
  
  .card-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
  }
  
  .foter {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
  }
  
  .by-name {
    font-weight: 700;
  }
  .botton{
    height: 30px;
    width: 50px;
    background-color: #495057;
    border-radius: 20px;
    border-bottom: 30px;
  }
  .botton:hover{
   background-color: rgb(0, 204, 255);
   height: 40;
   width: 60;
  }



  .percent {
    margin-left: 0.5rem;
    color: #B9101E;
    font-weight: 600;
    display: flex;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
  }
  
  .data .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .data .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B9101E;
    width: 36%;
    height: 100%;
    border-radius: 0.25rem;
    transition: .5s all;
  }
  /*FOOTER*/
.footer {
    
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.158); /* Oscuro con transparencia */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
  }
  
  /* Estilos para los enlaces en el footer */
  .footer a {
    color: #01b6ed;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #f2453f;
  }


  /*ventan flotante*/

  /* Ventana lateral */
  #ventanaDerecha {
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 20px;
    z-index: 2;
    position: fixed;
    top: 0;
    right: -600px; /* Oculta inicialmente */
    width: 500px;
    height: 100%;
    background-color: #f1f1f1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
  }

  /* Cuando está activa */
  #ventanaDerecha.activa {
    right: 0;
  }

  #btnCerrar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  /*boton cerrar*/
.ca{
    width: 100%;
    height: 5%;
    position: fixed;
    display: flex;
}
.ca h1{
    margin-top: 5px;
    color: white;
    margin-left: 65px;
}
  /* From Uiverse.io by TomMussard */ 
.Btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  .im{
    width: 26.5%;
    height: 30%;
    position: fixed;
    margin-top: 70px;
  }
  .im img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.es{
    width: 27%;
    height: 20%;
    margin-top: 340px;
    position: fixed;
}
.regis{
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 380px;
}
.regis p{
  color: white;
}
/* From Uiverse.io by Yaseen549 */ 
.ard {
  width: 450px;
  height: 254px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
 }
 
 